@use 'base' as *;
.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.sort {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  &__label {
    font-size: 1.4rem;
    margin-right: 1rem;
    align-self: center;
  }

  &__select {
    border: none;
    background-color: $color-grey-light-3;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: $color-grey-dark-1;
    outline: none;
    cursor: pointer;
  }
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  &__label {
    font-size: 1.4rem;
    align-self: center;
    padding: 0.3rem 0.5rem;
  }

  &-tag {
    border: none;
    font-size: 1.4rem;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
    border: 1px solid $color-grey-dark-2;
    color: $color-grey-dark-1;
    cursor: pointer;
  }
  &-tag.active {
    color: $color-grey-light-3;
    background-color: $color-grey-dark-1;
  }
}

.pagination {
  display: flex;
  margin-top: auto;
  padding: 0 2rem;
  justify-content: center;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: start;
    }
    &--next {
      float: end;
    }
  }
  &__label {
    &--currPage {
      float: center;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
